:root {
  --off-white: #f8f9fa;
  --navy-blue: #11284c;
}

.hero {
  position: relative;
  padding: 3rem 1.5rem;
  text-align: center;
  overflow: hidden;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.99;
}

.heroContainer {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}
.logo {
  width: 200px;
  margin-bottom: 2rem;
}
.heroTitle {
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  color: var(--navy-blue);
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
}
.paragraph {
  font-size: 1.25rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: var(--navy-blue);
  margin-bottom: 2.5rem;
  line-height: 1.6;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
